DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=desarrollo-clave-insegura-cambiar-en-produccion
DJANGO_DEBUG=True
DATABASE_URL=postgres://postgres:1234@localhost:5432/inventario_db
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CRM_WEBHOOK_URL=
CRM_HMAC_SECRET=
