DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=desarrollo-clave-insegura-cambiar-en-produccion
DJANGO_DEBUG=True

# DB — omitir DB_* para usar SQLite local
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=inventario_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CRM_WEBHOOK_URL=
CRM_HMAC_SECRET=
